@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-dark text-sky-100
  }
}

@layer components {
  .ctPseudo {
    @apply content-[''] w-0 bg-white transition-all duration-500 absolute h-0.5 -bottom-1 hover:w-7/12
  }
}

.hoverLinkEffect {
  @apply after:ctPseudo before:ctPseudo before:left-1/2 after:right-1/2
}

.text-shadow-glitch{
  text-shadow: 2px -2px 0 #A6219D, -2px 2px 0 #04D5D5
}

.box-shadow-glitch{
  box-shadow: 1px -1px 0 #A6219D, -1px 1px 0 #04D5D5
}

.button-shadow-glitch{
  box-shadow: 5px -5px 20px #A6219D, -5px 5px 20px #04D5D5
}

.container {
  @apply mx-auto w-full max-w-[1600px] px-6
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #13131f;
}

*::-webkit-scrollbar-thumb {
  background-color: #04D5D5;
}
